body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

.container {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 140px 0;
}

h1 {
  text-align: center;
  width: 100%;
  margin-top: 200px;
}

button {
  font-size: 1.2em;
  background: none;
  border: white;
  border-style: solid;
  border-radius: 10px;
  border-width: 4px;
  color: white;
  width: 14em;
  height: 55px;
  margin: 0 20px;
}

.counter-container {
  display: flex;
  justify-content: center;
  width: 35%;
  margin: 0 auto;
}

.counter {
  margin: 0 10px;
  text-align: center;
  font-size: 2em;
  width: 100%;
}